{% extends 'base.html' %}
{% block title %}
    Blog Page
{% endblock %}

{% block content %}
<body>
    <div class="py-4"></div>
    <section class="section">
        <div class="container">
          <div class="row justify-content-center">
            <div class=" col-lg-9   mb-5 mb-lg-0">
              <article>
                <div class="post-slider mb-4">
                  <img src="static/images/post/post-2.jpg" class="card-img" alt="post-thumb">
                </div>
                
                <h1 class="h2">{{ post_id.title }} </h1>
                <ul class="card-meta my-3 list-inline">
                  <li class="list-inline-item">
                    <a href="{{ url_for('profile') }}" class="card-meta-author">
                      <img src="static/images/john-doe.jpg">
                      <span>Charls Xaviar</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <i class="ti-timer"></i>2 Min To Read
                  </li>
                  <li class="list-inline-item">
                    <i class="ti-calendar"></i>{{ post_id.publication_date }}
                  </li>
                  <li class="list-inline-item">
                    <ul class="card-meta-tag list-inline">
                      <li class="list-inline-item"><a href="tags.html">Color</a></li>
                      <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                      <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="content">{{ post_id.content }}
                </div>
              </article>
              <!-- Form to Save Blog -->
              <form method="POST" action="{{ url_for('blog_page', post_id=post_id.id) }}">
                <button type="submit" name="save" value="true" class="btn btn-success">Save Blog</button>
              </form>
              <!-- Edit Button -->
              <a href="{{ url_for('modify_post', post_id=post_id.id) }}" class="btn btn-primary mt-3">Edit</a>
              <a href="{{ url_for('home_page') }}" class="btn btn-secondary">Back</a>

              <!-- Delete Button -->
              <form action="{{ url_for('delete_page', post_id=post_id.id) }}" method="POST" class="mt-3">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
             <br>
            </div>
      
            <div class="col-lg-9 col-md-12">
                <div class="mb-5 border-top mt-4 pt-5">
                    <h3 class="mb-4">Comments</h3>
                    {% for comment in posted_comments %}
                        <div class="media d-block d-sm-flex mb-4 pb-4">
                            <a class="d-inline-block mr-2 mb-3 mb-md-0" href="{{ url_for('profile', profile_id=comment.comment_owner) }}">
                                <img src="static/images/post/user-01.jpg" class="mr-3 rounded-circle" alt="">
                            </a>
                            <div class="media-body">
                                <a href="{{ url_for('profile', profile_id=comment.comment_owner) }}" class="h4 d-inline-block mb-3">{{ comment.comment_owner.username }}</a>
      
                                <p>{{ comment.text }}</p>
                            
                                <span class="text-black-800 mr-3 font-weight-600">{{ comment.publication_date }}</span>

                                <!-- Edit Button -->
                                <a href="{{ url_for('modify_comment', comment_to_modify=comment.id) }}" class="btn btn-primary mt-3">Edit</a>
                                <a href="{{ url_for('blog_page') }}" class="btn btn-secondary">Back</a>
                    
                                <!-- Delete Button -->
                                <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</button>
                                </form>
                                <!--<a class="text-primary font-weight-600" href="">Reply</a>-->

                                <!-- Reply Button -->
                                <a class="text-primary font-weight-600 reply-button" data-comment-id="{{ comment.id }}" href="javascript:void(0);">Reply</a>

                                <!-- Reply Form -->
                                <div id="reply-form-{{ comment.id }}" class="reply-form" style="display: none; margin-top: 10px;">
                                    <form action="{{ url_for('blog_page', post_id=post_id.id) }}" method="POST">
                                        {{ reply_form.hidden_tag() }}
                                            <textarea name="reply" required placeholder="Write your reply..." class="form-control"></textarea>
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                            <button class="btn btn-primary" type="submit">Comment Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% for reply in comment.reply_comments %}
                            <div class="media d-block d-sm-flex">
                                <div class="d-inline-block mr-2 mb-3 mb-md-0" href="{{ url_for('profile', profile_id=reply.responder) }}">
                                    <img class="mr-3" src="static/images/post/arrow.png" alt="">
                                    <a href="#!"><img src="static/images/post/user-02.jpg" class="mr-3 rounded-circle" alt=""></a>
                                </div>
                                <div class="media-body">
                                    <a href="{{ url_for('profile', profile_id=reply.responder) }}" class="h4 d-inline-block mb-3">{{ reply.responder.username }}</a>
      
                                    <p>{{ reply.text }}</p>
      
                                    <span class="text-black-800 mr-3 font-weight-600">{{ reply.publication_date }}</span>
                                    <!--<a class="text-primary font-weight-600" href="#!">Reply</a>-->
                                    <!-- Reply Button -->
                                    <a class="text-primary font-weight-600 reply-button" data-comment-id="{{ reply.id }}" href="javascript:void(0);">Reply</a>
                                    <!-- Reply Form -->
                                    <div id="reply-form-{{ reply.id }}" class="reply-form" style="display: none; margin-top: 10px;">
                                        <form action="{{ url_for('blog_page', post_id=post_id.id) }}" method="POST">
                                            {{ replies_reply_form.hidden_tag() }}
                                                <textarea name="reply_reply" required placeholder="Write your reply..." class="form-control"></textarea>
                                                <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <button class="btn btn-primary" type="submit">Comment Now</button>
                                        </form>
                                    </div>
                                    {% for child_reply in reply.replies_on_reply %}
                                        <div class="reply-to-reply">
                                            <div class="media d-block d-sm-flex ml-3">
                                                <div class="d-inline-block mr-2 mb-3 mb-md-0" href="{{ url_for('profile', profile_id=child_reply.child_reply_owner) }}">
                                                    <img class="mr-3" src="static/images/post/arrow.png" alt="">
                                                    <a href="#!"><img src="static/images/post/user-02.jpg" class="mr-3 rounded-circle" alt=""></a>
                                                </div>
                                                <div class="media-body">
                                                    <a href="{{ url_for('profile', profile_id=child_reply.child_reply_owner) }}" class="h4 d-inline-block mb-3">{{ child_reply.child_reply_owner }}</a>
      
                                                    <p>{{ child_reply.text }}</p>
      
                                                    <span class="text-black-800 mr-3 font-weight-600">{{ child_reply.publication_date }}</span>
                                                    <!--<a class="text-primary font-weight-600" href="#!">Reply</a>-->
                                                
                                                    <!-- Reply Button -->
                                                    <a class="text-primary font-weight-600 child-reply-button" data-reply-id="{{ child_reply.id }}" href="javascript:void(0);">Reply</a>
                                                    <!-- Reply Form -->
                                                    <div id="child-reply-form-{{ child_reply.id }}" class="child-reply-form" style="display: none; margin-top: 10px;">
                                                        <form action="{{ url_for('blog_page', post_id=post_id.id) }}" method="POST">
                                                            {{ replies_reply_form.hidden_tag() }}
                                                                <textarea name="reply_reply" required placeholder="Write your reply..." class="form-control"></textarea>
                                                                <input type="hidden" name="reply_reply_id" value="{{ child_reply.id }}">
                                                                <input type="hidden" name="reply_id" value="{{ reply.id }}">
                                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                                <button class="btn btn-primary" type="submit">Reply Now</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <script>
                        document.querySelectorAll('.reply-button').forEach(button => {
                            button.addEventListener('click', function() {
                                const commentId = this.getAttribute('data-comment-id');
                                const form = document.getElementById(`reply-form-${commentId}`);
                                // Toggle visibility
                                form.style.display = form.style.display === "none" ? "block" : "none";
                            });
                        });
                    </script>
                    <script>
                        document.querySelectorAll('.child-reply-button').forEach(button => {
                            button.addEventListener('click', function() {
                                const replyId = this.getAttribute('data-reply-id');
                                const form = document.getElementById(`child-reply-form-${replyId}`);
                                // Toggle visibility
                                form.style.display = form.style.display === "none" ? "block" : "none";
                            });
                        });
                    </script>
                </div>
      
                <div>
                    <h3 class="mb-4">Leave a Reply</h3>
                    <form method="POST" action="{{ url_for('blog_page' , post_id=post_id.id) }}">

                        <div class="row">
                            {% if comment_form %}
                                {{ comment_form.hidden_tag() }}
                                    <div class="form-group col-md-12">
                                        <textarea class="form-control shadow-none" name="comment" placeholder="Write your comment..." value="{{ comment_form.comment.data }}" rows="7" required></textarea>
                                    </div>
                            {% endif %}
                            <div class="form-group col-md-4">
                                <input class="form-control shadow-none" type="text" placeholder="Name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control shadow-none" type="email" placeholder="Email" required>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="form-control shadow-none" type="url" placeholder="Website">
                                <p class="font-weight-bold valid-feedback">OK! You can skip this field.</p>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Comment Now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer className="footer">
        <svg className="footer-border" height="214" viewBox="0 0 2204 214" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2203 213C2136.58 157.994 1942.77 -33.1996 1633.1 53.0486C1414.13 114.038 1200.92 188.208 967.765 118.127C820.12 73.7483 263.977 -143.754 0.999958 158.899" strokeWidth="2"/>
        </svg>
        <div className="container">
            <div className="row align-items-center">
                <div className="col-md-5 text-center text-md-left mb-4">
                    <ul className="list-inline footer-list mb-0">
                        <li className="list-inline-item">
                            <a href="privacy-policy.html">Privacy Policy</a>
                        </li>
                        <li className="list-inline-item">
                            <a href="terms-conditions.html">Terms Conditions</a>
                        </li>
                    </ul>
                </div>
                <div className="col-md-2 text-center mb-4">
                    <a href="index.html"><img className="img-fluid" width="100px" src="static/images/logo.png" alt="Reader | Hugo Personal Blog Template"/>
                    </a>
                </div>
                <div className="col-md-5 text-md-right text-center mb-4">
                    <ul className="list-inline footer-list mb-0">
                        <li className="list-inline-item">
                            <a href="#"><i className="ti-facebook"></i></a>
                        </li>
                        <li className="list-inline-item">
                            <a href="#"><i className="ti-twitter-alt"></i></a>
                        </li>
                        <li className="list-inline-item">
                            <a href="#"><i className="ti-linkedin"></i></a>
                        </li>
                        <li className="list-inline-item">
                            <a href="#"><i className="ti-github"></i></a>
                        </li>
                        <li className="list-inline-item">
                            <a href="#"><i className="ti-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div className="col-12">
                    <div className="border-bottom border-default"></div>
                </div>
            </div>
        </div>
    </footer>
</body>
    
    <div class="container mt-5">
        <section>
            <header>
                <h1>{{ post_id.title }}</h1>
            </header>
            <div>

                <p class="text-muted">Published on: {{ post_id.publication_date }}</p>
                <p class="text-muted">Modified on: {{ post_id.modification_date }}</p>
            </div>
            <div class="mt-3">
                <p>{{ post_id.content }}</p>
            </div>
            <!-- Form to Save Blog -->
            <form method="POST" action="{{ url_for('blog_page', post_id=post_id.id) }}">
                <button type="submit" name="save" value="true" class="btn btn-success">Save Blog</button>
            </form>
            <!-- Edit Button -->
            <a href="{{ url_for('modify_post', post_id=post_id.id) }}" class="btn btn-primary mt-3">Edit</a>
            <a href="{{ url_for('home_page') }}" class="btn btn-secondary">Back</a>

            <!-- Delete Button -->
            <form action="{{ url_for('delete_page', post_id=post_id.id) }}" method="POST" class="mt-3">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <br>
            <div>
                
            </div>
        </section>
        <br>
        <!-- comments section -->
        <section>
            <div>
                <header>
                    <h2>Comments</h2>
                </header>
                <!-- Displaying Comments -->
                <div class="comments mt-4">
                    {% for comment in posted_comments %}
                        <div class="comment">
                            <p><strong>{{ comment.comment_owner.username }}</strong></p>
                            <p>{{ comment.text }}</p>
                            <p class="text-muted">{{ comment.publication_date }}</p>
                        </div>
                        
                        <!-- Edit Button -->
                        <a href="{{ url_for('modify_comment', comment_to_modify=comment.id) }}" class="btn btn-primary mt-3">Edit</a>
                        <a href="{{ url_for('blog_page') }}" class="btn btn-secondary">Back</a>
                    
                        <!-- Delete Button -->
                        <form action="{{ url_for('delete_comment', comment_id=comment.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this comment?');">Delete</button>
                        </form>
                        <button>Reply</button>
                
                        <!-- Display Replies -->
                        <br>
                        {% for reply in comment.reply_comments %}
                            <div class="replies">
                                <p><em>{{ reply.responder.username }}</em>: {{ reply.text }}</p>
                            </div>
                            <hr>
                            
                            <!-- Edit Button for Replies -->
                            <a href="{{ url_for('modify_comment', comment_to_modify=reply.id) }}" class="btn btn-primary mt-3">Edit</a>
                            <a href="{{ url_for('blog_page') }}" class="btn btn-secondary">Back</a>
                        
                            <!-- Delete Button for Replies -->
                            <form action="{{ url_for('delete_comment', comment_id=reply.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this reply?');">Delete</button>
                            </form>
                            <br>
                        {% endfor %}
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}
                