{% extends 'base.html' %}
{% block title %}
    Blog Page
{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1>{{ posts_id.title }}</h1>
        <p class="text-muted">Published on: {{ posts_id.publication_date }}</p>
        <div class="mt-3">
            <p>{{ posts_id.content }}</p>
        </div>
            
        <!-- Edit Button -->
        <a href="{{ url_for('modify_post', posts_id=posts_id) }}" class="btn btn-warning">Edit</a>
        <a href="{{ url_for('blog_page') }}" class="btn btn-secondary">Back</a>

        <!-- Delete Button -->
        <div class="container mt-5">
            <a href="{{ url_for('delete_page', deleted_post=deleted_post) }}" class="btn btn-warning">Delete</a>
        </div>
    </div>
</body>
{% endblock %}