{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Pencil</h1>
        <h2 class="text">Search Results:</h2>
        <div class="row mt-4">
            {% if search_results %}
                {% for post in search_results %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ post.title }}">
                        <div class="card-body">
                            <a href="{{ url_for('blog_page', post_id=post.id) }}">{{ post.title }}</a>
                        </div>
                        <div class="card-body">
                            <a href="{{ url_for('blog_page', post_id=post.id) }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ post.title }}">
                        <div class="card-body">
                            <a href="{{ url_for('blog_page', post_id=post.id) }}">{{ post.title }}</a>
                        </div>
                        <div class="card-body">
                            <a href="{{ url_for('blog_page', post_id=post.id) }}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}