{% extends 'base.html' %}
{% block title %}
    Edit your comment
{% endblock %}

{% block content %}
<body>
    <div>
        <form method="POST" action="{{ url_for('modify_comment', comment_to_modify=commnts.id) }}">
            {{ form.hidden_tag() }}
            <!-- Title Field -->
            <div class="form-group">
                {{ form.comment.label(class="form-label") }}
                {{ form.comment(class="form-control") }}
                {% for error in form.comment.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
    
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{ url_for('blog_page', post_id=commnts.comments_on_post) }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
{% endblock %}