{% extends 'base.html' %}
{% block title %}
    {{ profile_id.username }}
{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <section>
            <div>
                {% if profile_id.profile_picture %}
                    <img src="{{ url_for('static', filename='uploads/' ~ profile_id.profile_picture) }}" alt="Profile Picture">
                {% else %}
                    <p>No profile picture uploaded</p>
                {% endif %}
            </div>
            <div>
                <p class="text-muted">Author: {{ profile_id.name }}</p>
            </div>
            <div>
                <p class="text-muted">Bio: {{ profile_id.bio }}</p>
            </div>
            <br>
            <div>
                <!-- Edit Button -->
            <a href="{{ url_for('edit_profile') }}" class="btn btn-primary mt-3">Edit</a>
            <a href="{{ url_for('home_page') }}" class="btn btn-secondary">Back</a>
            </div>
        </section>
        <br>
        <!-- Blogs -->
        <section>
            <header>
                <h1>Posts</h1>
            </header>
            <div class="row mt-4">
                {% if profile_id %}
                    <div class="list-group">
                        {% for post in profile_id.users.posts %}
                            <a href="{{ url_for('blog_page', post_id=post.id) }}" class="list-group-item list-group-item-action">
                                <img src="https://via.placeholder.com/150" class="card-img-left" alt="{{ post.pictures }}">
                                <h2>{{ post.title }}</h5>
                                <p>{{ post.content[:100] }}...</p> <!-- Display the first 100 characters of the post content -->
                                <small class="text-muted">Published on {{ post.publication_date }}</small>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted">No posts available.</p>
                {% endif %}
            </div>
        </section>
        <br>
        <!-- contact -->
        <section>
            <div>
                <header>
                    <h3>Contact Us</h3>
                </header>
                <!-- Display Links -->
                <h3>Contact Links</h3>
                {% if profile_id.gmail_links %}
                    <p>Email: <a href="mailto:{{ profile_id.gmail_links }}">{{ profile_id.gmail_links }}</a></p>
                {% endif %}
                {% if profile_id.facebook_links %}
                    <p>Facebook: <a href="{{ profile_id.facebook_links }}" target="_blank">{{ profile_id.facebook_links }}</a></p>
                {% endif %}
                {% if profile_id.instagram_links %}
                    <p>Instagram: <a href="{{ profile_id.instagram_links }}" target="_blank">{{ profile_id.instagram_links }}</a></p>
                {% endif %}
                {% if profile_id.x_links %}
                    <p>X (X): <a href="{{ profile_id.x_links }}" target="_blank">{{ profile_id.x_links }}</a></p>
                {% endif %}
                {% if profile_id.linkedin_links %}
                    <p>LinkedIn: <a href="{{ profile_id.linkedin_links }}" target="_blank">{{ profile_id.linkedin_links }}</a></p>
                {% endif %}
                {% if profile_id.github_links %}
                    <p>GitHub: <a href="{{ profile_id.github_links }}" target="_blank">{{ profile_id.github_links }}</a></p>
                {% endif %}
            </div>
        </section>
    </div>
</body>
{% endblock %}